<%- include("includes/header"); -%>
<div class="row flex justify-content-center">
<div class="card p-3" style="width: 500px;">
    
    <h4 class="mb-3">Julkaise uusi kuva:</h4>

<form method="POST" action="/lisaaKuva/" enctype="multipart/form-data">

<div class="form group">
    <label class="form-check-label float-left"><b>Kuvan nimi:</b></label>
    <% if (kayttaja != null) {%>
    <input type="hidden" name="kayttaja_id" value="<%= kayttaja.id%>">
    <% } %>
    <input required class="form-control" type="text" name="kuvaotsikko" placeholder="Kirjoita julkaistavan kuvan nimi">

    <p class="float-left mb-3"><i>Kirjoittamasi kuvan nimi n채ytet채채n julkaisemasi kuvan yhteydess채</i></p>
</div>
<div class="form group">
    <label class="form-check-label float-left"><b>Valitse kuvatiedosto:</b></label>
    <input required class="form-control-file mb-3" type="file" name="kuvatiedosto">
</div>

<% if (virhe) { %>
    <div class="alert alert-danger"><img class="icon" src="/icons/alert-circle.svg"> <%= virhe%></div>
<% } %>

<button type="submit" class="btn btn-primary" name="laheta" value="Julkaise kuva">Lataa ja julkaise kuva <img class="icon" src="/icons/upload.svg"></button>
<a href="/" class="btn btn-secondary">Peruuta</a>

</form>
</div>
</div>

<%- include("includes/footer") -%>